.Player {
    display: flex;
    background-color: rgba(0, 0, 0, 1);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.Middle {
	width: 10%;
	height: 150px;
	background-color: rgba(0, 0, 0, 1);
	float: left;
	font-size: 2em;
	color: rgba(255, 255, 255, 1);
	text-align: center;
}

.SelectLetter, .GuessWord {
	background-color: rgba(0, 0, 0, 1);
	width: 45%;
	height: 150px;
}

.SelectLetter {
	float: left;
}

.GuessWord {
	float: right;
}

.GuessWord input{
	padding: 0.5em;
	width: 13em;
	border-radius: 5px;
	border: 0px solid red;
}

.GuessWord button{
	padding: 0.5em;
	width: 8em;
	border-radius: 5px;
	border: 0px solid red;
	background-color: rgba(100, 100, 100, 1);
	color: rgba(0, 0, 0, 1);
	font-weight: bold;
	cursor: pointer;
}

.GuessWord button:hover{
	background-color: rgba(200, 200, 200, 1);
	color: rgba(100, 100, 100, 1);
}

.SelectLetter, .GuessWord {
	text-align: center;
	width: 45%;
	min-width: 200px;
}

.SelectLetter h3, .GuessWord h3 {
	color: rgba(255, 255, 255, 1);
}

.Keyboard {
    width: 90%;
    background-color: rgba(0, 0, 0, 1);
    margin: 0 auto 0 auto;
}

.Keyboard .Key {
    margin: 5px 0 0 5px;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid rgba(200, 200, 200, 1);
    background-color: rgba(255, 255, 200, 1);
    color: rgba(100, 0, 0, 1);
    float: left;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.Keyboard .hidden {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(100, 100, 100, 1);
    cursor: default;
}

.BtnBegin {
	display: block;
	margin: 0 auto 0 auto;
	padding: 0.5em;
	width: 8em;
	border-radius: 5px;
	border: 0px solid red;
	background-color: rgba(100, 100, 100, 1);
	color: rgba(0, 0, 0, 1);
	font-weight: bold;
	font-size: 2em;
	cursor: pointer;
}

.BtnBegin:hover{
	background-color: rgba(200, 200, 200, 1);
	color: rgba(100, 100, 100, 1);
}

